@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap"rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root { 
  /* variables */
  
  /* primary */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  
  /* accent */
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);

  /* neutral */
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

* {
  /* change CSS defaults configurations */
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  /* this makes 1rem equivalent to 10px */
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

header {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  padding: 32px;
  font-size: 1.6rem;
}

header .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: auto;

}

header nav ul {
  display: flex;
}


header nav ul li a {
  text-decoration: none;
  color: var(--very-dark-blue);
  text-transform: uppercase;
  font-size: 1.4rem;
  transition: all 250ms linear 0s;
  margin-left: 30px;
}

header nav ul li a:hover {
  color: var(--light-gray);
}

/*=== First Layer ===*/

#wrapper-one {
  display: flex;
  max-width: 1300px;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
}

.wrapper-left {
  width: 85%;
}

.wrapper-left h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4.0rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.wrapper-left p {
  font-size: 2.0rem;
  width: 500px;
}

.wrapper-left .email {
  margin-top: 30px;
}

.wrapper-left input {
  border: 1px solid var(--very-dark-blue);
  padding: 4px 8px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1.6rem;
  padding: 10px;
  width: 300px;
}

.wrapper-left button {
  background-color: var(--bright-blue);
  margin-left: 15px;
  padding: 13px;
  border-radius: 4px;
  color: white;
  font-size: 1.4rem;
  width: 200px;
}

.wrapper-left button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.wrapper-right img{
  width: 100%;
  height: 100%;
  margin-right: 300px;
}

/*=== Second Layer ===*/

.banner {
  margin-top: 100px;
  background-image: url('/images/bg-curve-desktop.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#wrapper-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
}

#wrapper-two h1 {
  font-size: 4.0rem;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 60px;

}

.wrapper-left-two h1 {
  width: 700px;
  font-family: 'Raleway', sans-serif;
  font-size: 4.0rem;
  font-weight: bold;
  margin-bottom: 60px;
}

.wrapper-left-two p {
  font-size: 2.0rem;
  width: 650px;
  color: var(--very-dark-blue);
}

#how-it-works {
  margin-top: 15px;
  font-size: 1.6rem;
}

.v-middle {
  vertical-align: middle;
}

#how-it-works a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: var(--moderate-cyan);
}

.line {
  background-color: var(--moderate-cyan);
  height: 1px;
  width: 166px;
  margin-top: 5px;
}

.wrapper-left-two p + p {
  margin-top: 15px;
}

.img-dialog img{
  width: 90%;
  height: 90%;
  margin-left: 50px;
}

#feedback {
  width: 340px;
  margin-top: 15px;
  /* height: 200px; */
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  margin-bottom: 150px;
}

#feedback p {
  margin-left: 0px;
  font-size: 1.4rem;
  width: 300px;
}

.testimonial {
  display: flex;
  align-self: center;
}

.person {
  margin-left: 10px;
}

.person p {
  margin-left: 10px;
}

.person p:last-child {
  margin-top: 0px;
}

.quote-name{
  font-weight: bold;
  margin-top: 20px;
  margin-left: 100px;
}

#quotes {
  margin-bottom: 10px;
  height:15px;
  width: 15px;
}

#avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 15px;
}

/*=== Third Layer ===*/

#wrapper-bottom {
  background-color: var(--desaturated-blue);
  height: 290px;
  color: white;
}

#wrapper-bottom .container {
  max-width: 1300px;
  display: flex;
  margin: 0 auto;
  /* align-items: center; */
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: auto; */
}

#wrapper-bottom-texts h2{
  font-weight: bold;
  font-size: 3.0rem;
  padding: 80px 0 0 0;
  font-family: 'Raleway', sans-serif;
}

#wrapper-bottom-texts p {
  width: 500px;
  margin-top: 20px;
  font-size: 1.6rem;
}

#wrapper-bottom-texts p + p {
  margin-top: 0px;
}

#get-started {
  padding: 80px 0 0 0;
  align-self: center;
  margin-left: 240px;
}

#get-started input {
  border: 1px solid var(--very-dark-blue);
  padding: 4px 8px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1.6rem;
  padding: 10px;
  width: 400px;
  margin-left: 14px;
}

#get-started button {
  background-color: var(--bright-blue);
  margin-left: 15px;
  padding: 13px;
  border-radius: 4px;
  color: white;
  font-size: 1.4rem;
  width: 200px;
  margin-top: 15px;
}

#get-started button:hover {
  cursor: pointer;
  opacity: 0.9;
}

/*=== Fourth Layer ===*/

#footer {
  background-color: var(--very-dark-blue);
  color: white;
  height: 400px;
  font-size: 1.6rem;
}

#footer .container-two {
  max-width: 1300px;
  display: flex;
  margin: 0 auto;
}

footer {
  background-color: var(--very-dark-blue);
  color: white;
}

.footer-first-column {
  padding: 60px 0px 0px 0px;
}

.footer-logo {
  -webkit-filter: invert(0.9);
  filter: invert(0.9);
}

.footer-logo:hover {
  cursor: pointer;
}

.container-two #phone {
  display: flex;
  margin-top: 10px;
}

.container-two #phone p {
  margin-left: 10px;
}

.container-two #email {
  display: flex;
  margin-top: 10px;
}

.container-two #email p {
  margin-left: 10px;
}

#items-column-one {
  padding: 110px 0px 0 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#items-column-two {
  padding: 110px 0px 0 0;
  /* margin-left: 100px; */
  display: flex;
  flex-direction: column;
}

#items-column-one a,
#items-column-two a {
  margin-top: 15px;
}

#items-column-one a:hover,
#items-column-two a:hover {
  color: var(--light-gray);
}

.footer-link {
  text-decoration: none;
  color: white;
}

.social-column{
  padding: 120px 0 0 0;
  margin: 0 auto;
}

ul {
  list-style-type: none
}

.visuallyHidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  white-space: nowrap
}

.footer-socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.social {
  width: 3.4rem;
  height: 3.4rem; 
  margin: 0.8rem; 
  border: 1px solid #fbfbfe;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fbfbfe;
  font-size: 1.8rem;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
} 

.social:hover {
  opacity: .5;
}

/*=== Responsiveness ===*/

/* @media (max-width: 768px) {
  #form h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 64rem) {

} */