@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap"rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root { 
  /* variables */
  
  /* primary */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  
  /* accent */
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);

  /* neutral */
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

* {
  /* change CSS defaults configurations */
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  font-family: 'Raleway', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}